* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  margin-right: 30px;
  background-color: #eeeeee;
  position: relative;
  padding: 10px;
}

.step-spn {
  border-radius: 0;
  background-color: #ff9a4b;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  padding: 15px 0 5px;
}

.step-item1 {
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-item2 {
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-item3 {
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  height: 150px;
}

.step-box:last-child {
  margin-right: 0;
}

footer {
  height: 50px;
  background-color: #aaaaaa;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
  }

  main {
    width: 100%;
    display: block;
  }

  .step-box {
    width: 90%;
    margin: 20px auto;
  }

  .step-item1,
  .step-item2,
  .step-item3 {
  }

  .step-box:last-child {
    margin-right: auto;
    margin-bottom: 0px;
  }
}
